* {
    box-sizing: border-box;
}

.header{
    padding:10px;
    text-align:center;
}

.main {
    float: left;
    width:46%;
    text-align: center;
}
table, td, th {
    border: 1px solid black;
}
.tg  {border-collapse:collapse;border-spacing:0;width:100%;}
.tg td{font-family:Arial, sans-serif;font-size:13px;font-weight:bold;padding:3px 0px;border-style:solid;border-width:2px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:13.5px;font-weight:bold;padding:3px 0px;border-style:solid;border-width:2px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-0pky{border-color:inherit;text-align:center;vertical-align:top}

.tabbed_area {
    margin:auto;
    width: 56%;
    min-width:434px; 
}

/* Style the tab */
.tab {
    overflow: hidden;
    background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    display: table-cell;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    background-color: rgb(241, 241, 241, 0.5);
    display: none;
    margin: auto;
    padding: 6px 20px;
    border-top: none;
    animation: fadeEffect 0.2s; /* Fading effect takes 1 second */
}

.text {
    text-align: center;
    align-content: center;
    margin: auto;
    border-style: dotted;
}

.formDiv{
    align-content: center;
    text-align: center;
    display: block;
    margin-left: auto; margin-right: auto;
    width: 90%;
}

#inputTextArea{
    box-sizing: border-box;
    resize: none;
    padding:15px;
    width: 100%;
    height: 400px;
    font-size: 16px;
}


input[type=checkbox] {
    display: none;
}
  
span {
    /*background-color: #373740;*/
    background-color: rgba(55, 55, 64, .7);
    border-radius: 4px;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-family: sans-serif;
    text-align: center;
    padding: 5px;
    min-width: 40%;
    display: inline-block;
    cursor: pointer;
    margin: 2px;
    transition: background-color 150ms ease-in;
}

span:hover {
    /*background-color: #ff5847;*/
    background-color: rgba(131, 199, 5, .6); /* original, following theme, 182, 250, 56*/
}

input[type=checkbox]:checked + span {
    background: rgba(131, 199, 5, .6);  /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAaCAYAAACgoey0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAX9JREFUeNpi+P//PwMNsS4QbwBiLnQ5WlqqAsRP/0PARiBmoYfFkkB8+z8qWALEjLS0mB+IL/3HDibSymJQXB7/jx/UgNSCvU4lwAbEG4DYkwi1WUxUspQZiOcRaSkIWOAKMk0Sg3jaf+IBOIVjMyQWiH8DsR+RljaTYOkBWJ5GNwRk2R+ooh9A7ETA0jwSLL0ATfEYqRpkyVc0xR+A2AyHpdFA/I9IS0F5WhRbAWIEtQQbeAXE6lhC5jeRlj4GYgVsRaYK1HBCmmWgmuyxhAwu8BpaXjNgs/gYkYbcAGIXPCGDDkCOM8eVPkCEFhE+JhX8BGJnfAkTxgC57BOVLAXlihBC2RA9Vf+k0FJQKk8nJv+jCwQi5WNyQAWxpR02wRQS8icy6CKlmMUlUUGipfOQK3lKLAbhdhIKfWZS6258kiAfzCZg6V4gZiOn0UBIAcgn63BYehK50Ke2xQxQH+3FUoqJUtJMIlYhLxAfxVJu09xiWENuMxCrUaNhCBBgAOAVfjALa5TLAAAAAElFTkSuQmCC) no-repeat 7% center;*/
    background-size: 10px 10px;
}

input[type=checkbox]:checked:hover + span {
    color: rgba(255,255,255,0.5);
    background: rgba(131, 199, 5, .7);  /*url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAS5JREFUeNq8110OgjAMAGBGvIY3VESjt9jPg95PT+LccBIZ7dYOWJPGB+g+Ymg3hLW2QeLkcu/y2pSFdvl0eQevehjI3uXbfkMh96TShFq/xhG6J4faAtxEtSBOQTm4QWpnOBWl4CZT69fuYpiCpnBDrB1xLhrjgoFO8F1oGcFslUv4bV32zFoxmOHJta0XMn65dC0UaiddA8UGiN4axeC1cUkdmWviEls/NwL1FqjPNtNvoimPdC3yRCUTiTXbt0R/oSnw2iiK10BBvBY6w2uiE3xJr8oFtcrvxy/fVcyeVdGx98yotcOxN/znHeMUIhdMOG8c4reagssF43VEoT5O4ZJwvNUUFJtcEE5BMXyGpnanf5yDxjiI+hSJj7YunEBvhbuTCh9tD+jiR4ABAJ0SrJgNr1UAAAAAAElFTkSuQmCC) no-repeat 7% center;*/
    background-size: 10px 10px;
}


.submitDiv {
    display:flex; flex-direction:row; justify-content: space-around;
}

input[type="submit"]{
    transition: 0.3s;
    background-color: #f1f1f1;
    border: none;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
}

input[type="submit"]:hover{
    background-color: #ddd;
}

.left {
    background-color: gray;
    float:left;
    width:27%;
    align-content: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
.right {
    background-color: gray;
    float: left;
    width:27%;
    align-content: center;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 45px;
}
  
.footer {
    margin-top: 20px;
    font-size: 12px;
    text-align:center;
}

@media only screen and (max-width:884px) {
    /* For mobile phones: */
    .left, .main, .right {
    width:100%;
    }
    .tabbed_area {
        min-width: 0px;
        width:100%;
    }
    span{
        width:100%;
    }
}

h3 {
    text-align: center;
}
p {
    padding: 10px;
}
/* Go from zero to full opacity - current not being used*/
@keyframes fadeEffect {
    from {opacity: .5;}
    to {opacity: 1;}
}